.caret {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  width: fit-content;
}

.caret {
  animation: blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #67e8f9;
  }
}
